# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
*.db
media/
staticfiles/
local_settings.py

# Virtual environments
venv/
env/
.env
.venv/
ENV/

# VSCode / IDE
.vscode/
.idea/

# OS files
*.DS_Store
Thumbs.db

# Git
.gitignore
