:root{
    --backgroung-color : #FDF5E6;
    --color-header : #29290c;
    --color-paragraph : #94a1b2;
    --color-button : #7f5af0;
    --button-text : #fffffe;
    --button-hover: #2cb67d;
    --font-family :'Alan Sans'
    --font-size:1.5px;




}

/* NAVIGATION STYLING */

*{
    background-color: var(--backgroung-color);
    color: var(--color-paragraph);
    font-family:var(--font-family);
    margin-left:5px;
    margin-right: 3px;
    font-family:var(--font-family);

    
}
h1,h2,h3,h4,h5{
    color: var(--color-header);
}

.nav{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-bottom: 0.6px solid var(--color-paragraph);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-navigations ul{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content:center;
    list-style: none;
    
}
.nav-navigations ul a{
    text-decoration: none;

}
 a:hover{
    border-bottom: 0.3px solid var(--color-button);
}

.nav-user-name #nav-header{
    align-self: center;
    

}
.nav-cv-download button{
    padding: 1rem;
    background-color: var(--color-button);
    border-radius: 10px;
    border: transparent;
    color: var(--button-text);

}
.nav-cv-download button:hover{
    background-color: var(--button-hover);
    cursor: pointer;
}
.description{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size:larger;
}





